html {
  font-size: 14px;
}

body {
  background-color: rgb(255, 242, 242);
  background-color: #222;
  font-family: 'Work Sans', sans-serif;
  color: rgb(32, 64, 86);
  color: #fff;
}

h1 {
  font-family: 'Audiowide', 'Work Sans', sans-serif;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(20deg, hsl(25, 85%, 65%), hsl(55, 85%, 65%), hsl(90, 85%, 65%), hsl(160, 85%, 65%), hsl(220, 85%, 65%), hsl(265, 85%, 65%), hsl(310, 85%, 65%), hsl(360, 85%, 65%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Audiowide', 'Work Sans', sans-serif;
}

p {
  color: rgb(74, 74, 74);
}

.container {
  margin-top: 5.25rem;
  margin-bottom: 2rem;
}

#about {
  margin-bottom: 15px;
}

.card {
  font-family: 'Audiowide';
  background-color: rgb(32, 64, 86);
  height: 12.5rem;
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 7rem;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bootstrap Stuff */

.btn-default {
  background-color: #00a8e8;
  border-color: #0099d3;
  color: #fff;
}

.btn-default:hover {
  background-color: #0099d3;
  border-color: #0099d3;
  color: #fff;
}

.btn-default:active:hover {
  background-color: #006b94;
  border-color: #005c7f;
  color: #fff;
}